.gallery-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.gallery__item {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  width: 400px;
}

.gallery__img {
  display: block;
  max-width: 100%;
}

#validation-input {
  border: 3px solid #bdbdbd;
}
#validation-input.valid {
  border-color: #4caf50;
}
#validation-input.invalid {
  border-color: #f44336;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: flex-end;
}
